@font-face {
  font-family: "NanumGothic";
  src: local("NanumGothic"), url("./NanumGothic-Regular.ttf");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: "NanumGothic";
  background: url("./icon.png");
}
